<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAdmin</servlet-name>
        <servlet-class>VerifyAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAdmin</servlet-name>
        <servlet-class>CheckAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVerification</servlet-name>
        <servlet-class>LoginVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduct</servlet-name>
        <servlet-class>RemoveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserInfo</servlet-name>
        <servlet-class>SaveUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryPage</servlet-name>
        <servlet-class>CategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>DisplayCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovebuyerProduct</servlet-name>
        <servlet-class>RemovebuyerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imageloader</servlet-name>
        <servlet-class>Imageloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginVerification</servlet-name>
        <servlet-class>AdminLoginVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginverification</servlet-name>
        <servlet-class>CustomerLoginverification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdminProduct</servlet-name>
        <servlet-class>RemoveAdminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyerHome</servlet-name>
        <servlet-class>BuyerHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAdmin</servlet-name>
        <url-pattern>/VerifyAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAdmin</servlet-name>
        <url-pattern>/CheckAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVerification</servlet-name>
        <url-pattern>/LoginVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduct</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserInfo</servlet-name>
        <url-pattern>/SaveUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryPage</servlet-name>
        <url-pattern>/CategoryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/DisplayCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovebuyerProduct</servlet-name>
        <url-pattern>/RemovebuyerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imageloader</servlet-name>
        <url-pattern>/Imageloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginVerification</servlet-name>
        <url-pattern>/AdminLoginVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginverification</servlet-name>
        <url-pattern>/CustomerLoginverification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdminProduct</servlet-name>
        <url-pattern>/RemoveAdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyerHome</servlet-name>
        <url-pattern>/BuyerHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
